@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}
.container {
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.container H1 {
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(
    right,
    #56d8e4,
    #9f01ea,
    #56d8e4,
    #9f01ea
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .container form {
  padding: 30px 0 0 0;
} */
.input-data {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.input-data input {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
.formRow {
  display: flex;
  margin: 32px 0;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.countdown {
  padding: 40px 60px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 32px 0;
}

.pastEvent {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.timer {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
  width: 100%;
}

.timeUnit {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
}
.developedBy {
  text-align: center;
  position: fixed;
  bottom: 0;
  margin: 0.5rem;
}

@media (max-width: 600px) {
  .container {
    width: 70%;
    padding: 1rem;
    /* margin: 1rem; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container h1 {
    font-size: 28px;
    padding: 1rem;
    margin: 0.8rem 0 0.5rem;
  }
  .input-data {
    font-size: 14px;
  }
  .formRow {
    display: flex;
    flex-direction: column;
    margin: 0 0 0.5rem 0;
  }

  .timer {
    font-size: 24px;
  }
  .timeUnit {
    font-size: 12px;
  }
  .countdown {
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 3rem 0;
  }
  .countdown .timer {
    flex-direction: column;
  }
}
